*~
~*
*.a
*.d
*.o
*.i
*.ii
*.ko
*.so
*.bkp
*.cmd
*.bin
*.elf
*.hex
*.jar
*.log
*.map
*.mod
*.obj
*.out
*.pyc
*.swo
*.swp
*.tmp
*.7z
*.rar
*.tar
*.tar.xz
*.tar.gz
*.zip
*.list
*.orig
*.mod.*
*.class
*.order
*.patch
*.temp
.env
.idea
.venv
.cache*
.envrc
.clangd
.gradle
.*project
.DS_Store
.vscode/
.settings
.*.bkp
log/
Log/
build*/
debug/
Debug/
out*/
bsim_bt_out
Module.symvers
