Source: init-system-helpers
Section: admin
Priority: extra
Maintainer: pkg-systemd-maintainers <pkg-systemd-maintainers@lists.alioth.debian.org>
Uploaders: Michael Stapelberg <stapelberg@debian.org>,
 Tollef Fog Heen <tfheen@debian.org>,
 Michael Biebl <biebl@debian.org>
Build-Depends: debhelper (>= 8.0.0), libmodule-install-perl
Standards-Version: 3.9.4
Vcs-Git: git://anonscm.debian.org/collab-maint/init-system-helpers.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/init-system-helpers.git;a=summary

Package: init-system-helpers
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: helper tools for all init systems
 This package contains helper tools that are necessary for switching between
 the various init systems that Debian contains (e.g. sysvinit, upstart,
 systemd). An example is deb-systemd-helper, a script that enables systemd unit
 files without depending on a running systemd.
 .
 While this package is maintained by pkg-systemd-maintainers, it is NOT
 specific to systemd at all. Maintainers of other init systems are welcome to
 include their helpers in this package.
